:root {
  /* Vi definerer de farver vi vil bruge som variabler, så vi hurtigt kan ændre farverne ét sted */
  --main-color: #3c3c3c;
  --third-color: white;
  --gold: #ebb100;
  --orange: #f2b705;
  --popup-bg: #ffffff;
  --popup-color: black;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--main-color);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

#data_container {
  display: grid;
  padding: 10px;
  grid-gap: 10px;
  width: 100vw;
}

/************ TYPOGRAFI ************/
h1 {
  font-size: 3rem;
  text-align: center;
  color: var(--third-color);
}

h2 {
  font-size: 2.2rem;
  color: var(--main-color);
  margin: 10px 0 5px 0;
}

h3 {
  font-size: 1.8rem;
  color: var(--main-color);
  margin: 0 0 5px 0;
}

p {
  font-size: 1.6rem;
  color: var(--third-color);
}

/************ HEADER ************/
header {
  display: grid;
  width: 100vw;
}

.logo {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

/************ THEME *************/

.crest {
  width: 100px;
  height: 100px;
  background-image: var(--house-crest);
  background-size: 100%;
}

[data-theme="Gryffindor"] {
  --popup-bg: #660000;
  --popup-color: #e09d09;
  --house-crest: url(imgs/gryffindor-emblem.png);
}

[data-theme="Hufflepuff"] {
  --popup-bg: black;
  --popup-color: #ff9d0a;
  --house-crest: url(imgs/hufflepuff-emblem.png);
}

[data-theme="Ravenclaw"] {
  --popup-bg: #193956;
  --popup-color: #654321;
  --house-crest: url(imgs/ravenclaw-emblem.png);
}

[data-theme="Slytherin"] {
  --popup-bg: #2e751c;
  --popup-color: silver;
  --house-crest: url(imgs/slytherin-emblem.png);
}

/************* BUTTONS *************/

.valgt {
  background-color: var(--orange);
  border-radius: 0.5rem;
}

/****** WINNER ******/
[data-field="winner"][data-winner="false"] {
  filter: grayscale(100%);
  cursor: pointer;
  border-radius: 0.5rem;
}

/* ****** STAR ****** */

[data-field="star"] {
  text-align: center;
  cursor: pointer;
  min-width: 2em;
}

[data-star="false"] {
  filter: grayscale(100%);
  cursor: pointer;
  border-radius: 0.5rem;
}

/************* MAIN *************/

.description {
  margin: 30px;
  text-align: center;
}

.description h1 {
  margin-bottom: 0px;
}

#filtering {
  margin-left: 20px;
  margin-right: 5px;
}

.filter {
  margin-right: 5px;
}

#sorting {
  margin-left: 20px;
  margin-right: 5px;
}

.sort {
  margin-right: 5px;
}

input {
  margin-left: 20px;
}

/******** TEMPLATE *********/
.student {
  height: 150px;
  padding: 20px;
  background-color: var(--gold);
  border-radius: 8px;
  border: 10px solid var(--main-color);
  border-style: double;
  cursor: pointer;
}

.name {
  font-size: 2rem;
  color: var(--main-color);
  margin: 15px 10px 10px 0;
}

.house {
  font-size: 1.6rem;
  color: var(--main-color);
  margin: 15px 10px 10px 0;
}

/******** POPUP *********/
#popup {
  /* Den div der fylder hele vinduet */
  position: fixed;
  top: 0;

  /* Div'en fylder hele bredden og højden af vinduet */
  width: 100vw;
  height: 100vh;

  /* Div'en er hvid, og har en opacity på 0.75 */
  background-color: rgba(255, 255, 255, 0.75);

  /* Popup vinduet er som udgangspunkt skjult, men får display: flex; når den åbnes */
  display: none;

  /* Centrerer .indhold vandret */
  justify-content: center;

  /* Centrerer .indhold lodret */
  align-items: center;

  z-index: 130;
}

.content {
  /* Det er her vores single view indhold bliver vist */
  width: 80vw;
  max-width: 600px;
  max-height: 150vh;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--popup-bg);
  color: var(--popup-color);

  /* Gør at man kan scrolle i vinduet, hvis der ikke er plads til indholdet */
  overflow: scroll;
  z-index: 140;
}

.student_photo {
  width: 100px;
  float: right;
}

.single_student h1 {
  font-size: 3rem;
  color: var(--popup-color);
  text-align: left;
  margin: 0 0 5px 0;
}

.single_student h2 {
  font-size: 2rem;
  color: var(--popup-color);
  text-align: left;
  margin: 0 0 5px 0;
}

.single_student p {
  font-size: 1.6rem;
  color: var(--popup-color);
}

.close {
  float: right;
  font-size: 2.5rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  color: var(--popup-color);
}

.close:hover {
  border: none;
  outline: none;
  color: var(--orange);
}
